[Unit]
Description=FOLIO Okapi service
Wants=postgresql.service docker.service
After=network-online.target postgresql.service docker.service multi-user.target


[Service]
EnvironmentFile=/etc/default/okapi
User=okapi
Group=okapi
ExecStart=/usr/share/folio/okapi/bin/okapi.sh
WorkingDirectory=/var/lib/okapi
RuntimeDirectory=okapi
RuntimeDirectoryMode=755
PIDFile=/var/run/okapi/okapi.pid


# useful for Java processes
KillSignal=SIGTERM
SendSIGKILL=no
SuccessExitStatus=143

# Disable TimeoutStopSec
TimeoutStopSec=0

# wait 2 seconds before restarting Okapi
RestartSec=2

# StandardOutput is configured to redirect to journalctl since
# some error messages may be logged in standard output before
# the Okapi logging system is initialized.
StandardOutput=journal
StandardError=inherit

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
