#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

MVN = JAVA_HOME=`readlink -f /usr/bin/java|sed 's:bin/java::'` mvn -Dmaven.test.skip=true -Duser.home="$(HOME)" -B


OKAPIPACKAGE = okapi
OKAPIROOT = $(CURDIR)/debian/$(OKAPIPACKAGE)
OKAPIDOC  = $(OKAPIROOT)/usr/share/doc/$(OKAPIPACKAGE)
OKAPICONF = $(OKAPIROOT)/etc/folio/okapi
OKAPIHOME = $(OKAPIROOT)/usr/share/folio/okapi
OKAPISYSD = $(OKAPIROOT)/lib/systemd/system

# okapi fat jars
OKAPICORE   = $(CURDIR)/okapi-core/target/okapi-core-fat.jar
OKAPICOMMON = $(CURDIR)/okapi-common/target/okapi-common-fat.jar
OKAPIAUTH   = $(CURDIR)/okapi-test-auth-module/target/okapi-test-auth-module-fat.jar
OKAPITEST   = $(CURDIR)/okapi-test-module/target/okapi-test-module-fat.jar
OKAPIHEADER = $(CURDIR)/okapi-test-header-module/target/okapi-test-header-module-fat.jar

PACKAGER    = Index Data <support@indexdata.com>

INSTALLDIR  = install -p -d -o root -g root -m 755
INSTALLFILE = install -p -o root -g root -m 644
INSTALLBIN  = install -p -o root -g root -m 755

clean:
	dh_testdir
	dh_testroot
	dh_clean build-stamp install-stamp
	$(MVN) clean

build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp

build-stamp:
	dh_testdir
	$(MVN) package
	touch $@

install: install-stamp

install-stamp: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# jars and scripts
	$(INSTALLDIR) $(OKAPIHOME)/lib
	$(INSTALLDIR) $(OKAPIHOME)/bin
	$(INSTALLFILE)  $(OKAPICORE) $(OKAPIHOME)/lib/
	$(INSTALLFILE)  $(OKAPICOMMON) $(OKAPIHOME)/lib/
	$(INSTALLFILE)  $(OKAPIAUTH) $(OKAPIHOME)/lib/
	$(INSTALLFILE)  $(OKAPITEST) $(OKAPIHOME)/lib/
	$(INSTALLFILE) $(OKAPIHEADER) $(OKAPIHOME)/lib/
	$(INSTALLBIN)  dist/okapi.sh $(OKAPIHOME)/bin/

	# configs
	$(INSTALLDIR)  $(OKAPICONF)
	$(INSTALLDIR)  $(OKAPISYSD)
	$(INSTALLDIR)  $(OKAPIROOT)/etc/default
	$(INSTALLFILE) dist/okapi.conf $(OKAPICONF)/
	$(INSTALLFILE) dist/hazelcast.xml $(OKAPICONF)/
	$(INSTALLFILE) dist/log4j2.properties $(OKAPICONF)/
	$(INSTALLFILE) dist/okapi.env $(OKAPIROOT)/etc/default/okapi
	$(INSTALLFILE) debian/okapi.service $(OKAPISYSD)/

	# docs
	$(INSTALLDIR) $(OKAPIDOC)
	$(INSTALLFILE) doc/* $(OKAPIDOC)/
	$(INSTALLFILE) NEWS.md $(OKAPIDOC)/

	# logs
	$(INSTALLDIR) $(OKAPIROOT)/var/log/folio/okapi

	touch $@


binary: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb


.PHONY: build clean binary-indep binary-arch binary install
